@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#skill, #portfolio, #sps{
    height: 120px;
}


html{
    scroll-behavior: smooth;
    transition-delay: 5s;
}


body{
    background: #222831;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: #EEEEEE;
    box-shadow: 0 5px 80px #00000076;
    position: fixed;
    padding: 15px 25px;
    overflow: visible;
    width: 100%;
}

nav .logo-slogan{
    color: #76ABAE;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3 ease-out;
    text-shadow: #4444443f 1px 0 5px;
    padding-left: 0.9rem;

}

ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #76ABAE;
    transition: all 0.3s ease;
    font-size: 17px;
}

a:hover{
    color: #15F5BA;
    font-weight: 600;
    
}

a:active{
    color: #222831;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.btn-div{
    margin: 0;
}

.btn-div #btn1{
    border: 2px solid #76ABAE;;
    border-radius: 25px;
    cursor: pointer;
    color: #76ABAE;
    background-color: #76abae1b;
    font-weight: 700;
    transition: all 0.2s ease;
    width: 7rem;
    height: 2.5rem;
}

#btn1:hover{
    background-color:#15f5b94d;
    color: #22283151;
    border-color: #22283149;
    transform: scale(1.08);
}

#btn1:active{
    transform: scale(1);
}

main aside span{
    color: #76ABAE;
    font-size: 3.5rem;
    cursor: pointer;
    transition: all 0.8s ease-out;
    text-shadow: #15f5b96b 1px 0 5px;
}

main aside h2{
    padding-top: 3rem;
    color: #EEEEEE;
    font-size: 2.75rem;
    cursor: default;
}

main aside p {
   color: #15F5BA;
   font-size: 22px;
   cursor: default;
   text-shadow: #fffcfc49 1px 0 3.2px;
}


main aside{
    display: flex;
    padding-left: 10rem;
    padding-top: 5rem;
    flex-direction: column;
    height: 40vh;
}


main aside span:hover{
    color: #76ABAE;
    font-size: 3.6rem;
    cursor: pointer;
}

main{
    height: 100vh;
}

main aside img{
    width: 55rem;
    height: 35rem;
    border-radius: 8px;
    transition: all 0.3s ease-out;
    padding-top:40px;
    padding-left: 40px;
}

main aside img:hover {
   width: 56rem;
   height: 37rem;
   
}

.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70vh;
    padding: 85px;
    background: #f1f1f1;
    gap: 10rem;
    
}

.skills{
    width: 500rem;
    height: 62vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    cursor: default;
    background-color: #f1f1f1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.150);
}

.skills:hover{
    width: 510rem;
    height: 64vh;
    cursor: pointer;
    box-shadow: 0 10px 20px #76ABAE;
    background: #9d9d9d28;
}



.skills h3{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 600;
    color: #76ABAE;
    text-shadow: #15f5b98b 1px 0 5px;
}

.skills i{
    font-size: 40px;
    color: #76ABAE;
    margin-right: 14.2rem;
    margin-top: 15px;
    background: #ffffff0f;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    text-shadow: #00000049 1px 0 3.2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.150);
}

.skills p{
    text-align: center;
    padding: 55px 25px;
    color: #222831;
    font-size: 18px;
    text-shadow: #15f5b98b 1px 0 5px;
    margin-bottom: 10rem;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70vh;
    padding: 85px;
    gap: 2.5rem;
}
.portfolio .project{
    width: 200rem;
    height: 60vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    cursor: default;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.27);

}

.portfolio .project:hover{
    width: 202rem;
    height: 61vh;
    box-shadow: 0 10px 50px #000000;
    background: #9d9d9d28;
}

.portfolio .project p{
    text-align: center;
    padding: 2rem;
    color: #f1f1f1;
    text-shadow: #15f5b98b 1px 0 5px;
    margin-bottom: 0;
    margin-top: 2px;
}

.portfolio .project img{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.200);
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.portfolio .project h3{
    margin: 10px;
    padding: 20px;
    color: #76ABAE;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
}

.portfolio .project h3 span{
   color: #15F5BA;
   font-size: 18px;
   padding-left: 5px;
   font-weight: 500;
}





footer{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1px 10px;
}

footer .foot, .copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
}

.foot{
    color: #222831;
    font-size: 1.5rem;
}

.foot ul{
    gap: 25px;
    background-color: #ffffff3c;
    padding: 15px;
    padding-top: 8px;
    border-radius: 100px;
    align-content: center;
    justify-content: center;
    display: flex;
    margin-right: 5rem;
    
}

.foot ul i{
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.foot ul i:hover{
    color: #76ABAE;
    transform: scale(1.2);
}

.foot ul i:active{
    color: #188bd3;
    transform: scale(1);
    
}

footer .text{
    color: #76ABAE;
    margin-left: 5rem;
    background-color: #ffffff3c;
    padding: 15px;
    border-radius: 100px;
    cursor: default;
    text-shadow: #00000049 1px 0 3.2px;
}

@media screen and (max-width: 1400px) {
    
    nav{
        padding: 20px 60px;
    }

    main{
        padding: 0 60px;
    }
}

@media screen and (max-width: 1200px) {

    nav{
        padding: 20px 60px;
    }

    
    main aside span{
        color: #76ABAE;
        font-size: 3rem;
        cursor: pointer;
        transition: all 0.8s ease-out;
        text-shadow: #15f5b96b 1px 0 5px;
    }
    
    main aside h2{
        padding-top: 2.75rem;
        color: #EEEEEE;
        font-size: 2.5rem;
        cursor: default;
    }
    
    main aside p {
       color: #15F5BA;
       font-size: 19px;
       cursor: default;
       text-shadow: #fffcfc49 1px 0 3.2px;
    }
    
    
    main aside{
        display: flex;
        padding-left: 9rem;
        padding-top: 4rem;
        flex-direction: column;
        height: 38vh;
    }
    
    
    main aside span:hover{
        color: #76ABAE;
        font-size: 3.2rem;
        cursor: pointer;
    }
    
    main{
        height: 40vh;
    }
    
    main aside img{
        width: 45rem;
        height: 25rem;
        border-radius: 10px;
        transition: all 0.3s ease-out;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    main aside img:hover {
       width: 46rem;
       height: 26rem;
       
    }


    .skill{
        
        flex-direction: column;
        height: 170vh;
        padding: 15px;
    }
    
    .skills{
        padding-top: 2rem;
        width: 55rem;
        height: 60vh;
}    

.skills p{
    text-align: center;
    justify-content: center;
    padding: 55px 25px;
    color: #222831;
    font-size: 15px;
    text-shadow: #15f5b98b 1px 0 5px;
    margin-bottom: 10rem;
}

.skills:hover{
    width: 55rem;
    height: 35vh;
}

    @media screen and (max-width: 992px) {

        nav{
            padding: 20px 60px;
        }
    
        main aside span{
            color: #76ABAE;
            font-size: 2.75rem;
            cursor: pointer;
            transition: all 0.8s ease-out;
            text-shadow: #15f5b96b 1px 0 5px;
        }
        
        main aside h2{
            padding-top: 2.5rem;
            color: #EEEEEE;
            font-size: 2.25rem;
            cursor: default;
        }
        
        main aside p {
           color: #15F5BA;
           font-size: 15px;
           cursor: default;
           text-shadow: #fffcfc49 1px 0 3.2px;
        }
        
        
        main aside{
            display: flex;
            padding-left: 6rem;
            padding-top: 3rem;
            flex-direction: column;
            height: 33vh;
        }
        
        
        main aside span:hover{
            color: #76ABAE;
            font-size: 3rem;
            cursor: pointer;
        }
        
        main{
            height: 40vh;
        }
        
        main aside img{
            width: 38rem;
            height: 28rem;
            border-radius: 10px;
            transition: all 0.3s ease-out;
            padding-top: 28px;
            padding-left: 28px;
        }
        
        main aside img:hover {
           width: 39rem;
           height: 29rem;
           
        }
    }

    @media screen and (max-width: 768px) {

        main aside span{
            color: #76ABAE;
            font-size: 2.25rem;
            cursor: pointer;
            transition: all 0.8s ease-out;
            text-shadow: #15f5b96b 1px 0 5px;
        }
        
        main aside h2{
            padding-top: 5rem;
            color: #EEEEEE;
            font-size: 1.86rem;
            cursor: default;
        }
        
        main aside p {
           color: #15F5BA;
           font-size: 12px;
           cursor: default;
           text-shadow: #fffcfc49 1px 0 3.2px;
        }
        
        
        main aside{
            display: flex;
            padding-left: 3rem;
            padding-top: 1rem;
            flex-direction: column;
            height: 28vh;
        }
        
        
        main aside span:hover{
            color: #76ABAE;
            font-size: 2.5rem;
            cursor: pointer;
        }
        
        main{
            height: 40vh;
        }
        
        main aside img{
            width: 30rem;
            height: 20rem;
            border-radius: 6px;
            transition: all 0.3s ease-out;
            padding-top: 18px;
            padding-left: 18px;
        }
        
        main aside img:hover {
           width: 32rem;
           height: 22rem;
           
        }
    }


    @media screen and (max-width: 480px) {

        main aside span{
            color: #76ABAE;
            font-size: 2rem;
            cursor: pointer;
            transition: all 0.8s ease-out;
            text-shadow: #15f5b96b 1px 0 5px;
        }
        
        main aside h2{
            padding-top: 4.5rem;
            color: #EEEEEE;
            font-size: 1.60rem;
            cursor: default;
        }
        
        main aside p {
           color: #15F5BA;
           font-size: 10px;
           cursor: default;
           text-shadow: #fffcfc49 1px 0 3.2px;
        }
        
        
        main aside{
            display: flex;
            padding-left: 3rem;
            padding-top: 1rem;
            flex-direction: column;
            height: 25vh;
        }
        
        
        main aside span:hover{
            color: #76ABAE;
            font-size: 2.25rem;
            cursor: pointer;
        }
        
        main{
            height: 40vh;
        }
        
        main aside img{
            width: 25rem;
            height: 15rem;
            border-radius: 5px;
            transition: all 0.3s ease-out;
            padding-top: 12px;
            padding-left: 12px;
        }
        
        main aside img:hover {
           width: 26rem;
           height: 16rem;
           
        }




        
    }


}
